/* body {background-image:url('../img/ipso-bkg.jpg');} */

.thumbnails-container {margin-top:50px;}
.thumbnails-container a.block-link {text-decoration:none;}
.thumbnail {border-radius:4px;min-height:300px;}
.thumbnail .img {text-align:center;margin:20px;}
.thumbnail .img .fa {font-size:60px;color:#555;}
a > .thumbnail {opacity:0.7;}
a:hover > .thumbnail {opacity:1.0;}

/* Site specific styles */

body {font-family: "Open Sans", sans-serif;}
body {background-color:#ececf7;color:#211b38;}
.navbar, .navbar-default {background-color:#27456b;color:#ffffff;}
.navbar .navbar-brand, .navbar .navbar-nav li a {color:#ffffff;}
.navbar .navbar-brand:hover, .navbar .navbar-nav li a:hover {color:#ececf7;}

svg {background-color: #27456b;}
.thumbnail {background-color:#ececf7;color:#211b38;}
.thumbnail .caption, .thumbnail .caption h3 {color:#211b38;} 
.thumbnail .img .fa {font-size:60px;color:#211b38;}

#table-unsdg {width:100%;}
#table-unsdg th {padding:2px;}
#table-unsdg td {margin-left:5px solid #ffffff;border-right:5px solid #ffffff;}
#table-unsdg td.filled {background-color:#00ff00;}
.unsdg-direct, .unsdg-indirect {padding:4px;font-weight:bold;text-align:center;cursor:help;}
.unsdg-direct {background-color:#0000ff;color:#ffffff;}
.unsdg-indirect {background-color:#ffff00;}


/* Carousel base class */
.carousel {
  min-width: 100%;
  height: 300px;
  margin-top: -21px;
  margin-bottom: 0px;
}
.carousel-caption {
   z-index: 10; /* Since positioning the image, we need to help out the caption */
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 300px;
  background-color: #49678d;
}
.carousel .item h1 {
  font-size:63px;
}
.carousel .item p {
  font-size:21px;
}
.thumbnail{
background-color:#27456b;
color:#ffffff;
}
.thumbnail .img .fa,
.thumbnail .caption,
.thumbnail .caption h3 {
color:#fff;
}
a > .thumbnail{
opacity:1;
}

