<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>IPS-X | Sources</title>
<link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://eloquentstudio.github.io/filter.js/assets/css/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css">
<link href="https://eloquentstudio.github.io/filter.js/assets/css/jquery-ui-1.10.2.custom.min.css" media="screen" rel="stylesheet" type="text/css">
<link href="/ips-explorer/css/common.css" media="screen" rel="stylesheet" type="text/css">
<link href="/ips-explorer/css/catalogs.css" media="screen" rel="stylesheet" type="text/css">
<script src="https://eloquentstudio.github.io/filter.js/assets/js/jquery-1.11.3.min.js" type="text/javascript"></script>
<script src="https://eloquentstudio.github.io/filter.js/assets/js/jquery-ui-1.10.2.custom.min.js" type="text/javascript"></script>
<script src="https://eloquentstudio.github.io/filter.js/filter.min.js" type="text/javascript"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/ips-explorer/js/common.js"></script>
<script src="/ips-explorer/data/catalogs.js" type="text/javascript"></script>
<script src="/ips-explorer/js/catalogs.js" type="text/javascript"></script>
</head>
<body>
<nav role="navigation" class="navbar navbar-default">
<div class="container">
<p class="navbar-header"><a title="Innovative Public Services Explorer" class="navbar-brand" href="/ips-explorer/">IPS-X</a></p>
<ul class="nav navbar-nav collapse navbar-collapse">
<li class=""><a href="/ips-explorer/case/">Cases</a></li>
<li class=""><a href="/ips-explorer/chart/">Statistics</a></li>
<li class="active"><a href="/ips-explorer/catalog/">Sources</a></li>
</ul>
<ul class="nav navbar-nav collapse navbar-collapse navbar-right">
<li><a target="_blank" href="https://github.com/ipsoeu/ips-explorer/issues/" title="Send us your feedback."><i class="fa fa-comment"></i> Feedback</a></li>
<li><a target="_blank" href="https://github.com/ipsoeu/ips-explorer/" title="Report projects, services, initiatives you are aware of."><i class="fa fa-github"></i> Contribute</a></li>
<li><a target="_blank" href="https://ec.europa.eu/eusurvey/runner/6c2c3469-14fe-6d78-129d-0cc558731310" title="Fill in the IPS survey."><i class="fa fa-edit"></i> IPS Survey</a></li>
</ul>
</div>
</nav>
<!--
<header class="page-header">
  <div class="container">
  <h1 class="title">IPS-X</h1>
  <p class="lead">Innovative Public Services Explorer</p>
  </div>
</header>
-->    
    <article class="container">
      <aside class="sidebar col-md-3">
        <div>
          <h4 class='col-md-6'>Sources (<span id="total_catalogs">0</span>)</h4>
        </div>
        <div>
          <label class="sr-only" for="searchbox">Search</label>
          <input type="text" class="form-control" id="searchbox" placeholder="Search &hellip;" autocomplete="off">
          <span class="glyphicon glyphicon-search search-icon"></span>
        </div>
        <br>
        <div id="facets" role="tablist" aria-multiselectable="true">
	  <fieldset id="publisher_criteria" class="panel panel-default">
            <div class="panel-heading" role="tab" id="publisher_criteria_heading">
	    <legend role="button" class="panel-title" data-toggle="collapse" data-target="#publisher_criteria_list" aria-expanded="true" aria-controls="publisher_criteria_list">
              Publisher
            </legend>
	    </div>
            <div id="publisher_criteria_list" class="panel-collapse collapse in" role="tabpanel" aria-labelled-by="publisher_criteria_heading">
            <div class="panel-body">
            <div class="checkbox">
              <label>
                <input type="checkbox" value="All" id="all_publisher">
                <span>All</span>
              </label>
            </div>
            
            <div class="checkbox">
              <label>
                <input type="checkbox" value="Regione Lombardia">
                <span>Regione Lombardia<span>
              </label>
            </div>
            
            </div>
            </div>
          </fieldset>
	</div>
<!--
        </div>
	<div class="well">
-->
          <fieldset id="type_criteria" class="panel panel-default">
            <div class="panel-heading" role="tab" id="type_criteria_heading">
	    <legend role="button" class="panel-title" data-toggle="collapse" data-target="#type_criteria_list" aria-expanded="true" aria-controls="type_criteria_list">
              Type
            </legend>
            </div>
            <div id="type_criteria_list" class="panel-collapse collapse in" role="tabpanel" aria-labelled-by="type_criteria_heading">
            <div class="panel-body">
            <div class="checkbox">
              <label>
                <input type="checkbox" value="All" id="all_type">
                <span>All</span>
              </label>
            </div>
            
            <div class="checkbox">
              <label>
                <input type="checkbox" value="Catalogue">
                <span>Catalogue<span>
              </label>
            </div>
            
            </div>
            </div>
          </fieldset>
        </div>
    </aside>

<!-- /.col-md-3 -->
    <section class="col-md-9">
      <div class="row">
        <div class="content col-md-12">
          <div id="pagination" class="pagination col-md-9"></div>
          <div class="col-md-3 content">
            Per Page: <span id="per_page" class="content"></span>
          </div>
        </div>
      </div>

      <div class="catalogs row col-md-12" id="catalogs"> </div>
      
    </section>
<!-- /.col-md-9 -->
</article>
<footer>
<p></p></footer>
<!-- /.container -->
      <script id="catalog-template" type="text/html">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4><a href="./<%= c_id %>.html"><%= c_name %></a></h4>
          </div>
          <div class="panel-body">
            <p><%= c_description %></p>
          </div>
          <div class="panel-footer">
            <p><%= c_publisher %>, <%= c_country %></p>
          </div>
        </div>
      </div>
      </script>
<!--
            <dl>
              <dt>Technologies</dt>
              <dd><%= technology %></dd>
              <dt>Geographic extent</dt>
              <dd><%= geoextent %></dd>
              <dt>Primary sector</dt>
              <dd><%= primary_sector %></dd>
              <dt>Activity</dt>
              <dd><%= secondary_sector %></dd>
            </dl>
-->
<!--
      <script id="publisher-template" type="text/html">
        <div class="checkbox" fjs-criteria="field=c_publisher,ele=#publishers input:checkbox">
          <label>
            <input type="checkbox" value="<%= c_publisher %>"> <%= c_publisher %>
          </label>
        </div>
      </script>
      <script id="type-template" type="text/html">
        <div class="checkbox">
          <label>
            <input type="checkbox" value="<%= c_type %>"> <%= c_type %>
          </label>
        </div>
      </script>
-->
    </body>
  </html>
