<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>IPS-X | Projects</title>
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://eloquentstudio.github.io/filter.js/assets/css/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css">
    <link href="https://eloquentstudio.github.io/filter.js/assets/css/jquery-ui-1.10.2.custom.min.css" media="screen" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jvectormap/2.0.3/jquery-jvectormap.min.css" crossorigin="anonymous" />
    <link href="/ips-explorer/css/common.css" media="screen" rel="stylesheet" type="text/css">    
    <link href="/ips-explorer/css/projects.css" media="screen" rel="stylesheet" type="text/css">
    <script src="https://eloquentstudio.github.io/filter.js/assets/js/jquery-1.11.3.min.js" type="text/javascript"></script>
    <script src="https://eloquentstudio.github.io/filter.js/assets/js/jquery-ui-1.10.2.custom.min.js" type="text/javascript"></script>
    <script src="https://eloquentstudio.github.io/filter.js/filter.min.js" type="text/javascript"></script>
    <script src="/ips-explorer/js/jvectormap.com/js/jquery-jvectormap-2.0.3.min.js"></script>
    <script src="/ips-explorer/js/jvectormap.com/js/jquery-jvectormap-europe-mill-en.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/ips-explorer/js/common.js"></script>
    <script src="/ips-explorer/data/projects.js" type="text/javascript"></script>
    <script src="/ips-explorer/js/projects-map.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js" integrity="sha256-G7A4JrJjJlFqP0yamznwPjAApIKPkadeHfyIwiaa9e0=" crossorigin="anonymous"></script>    
  </head>
  <body>
<nav role="navigation" class="navbar navbar-default">
<div class="container">
<p class="navbar-header"><a title="Innovative Public Services Explorer" class="navbar-brand" href="/ips-explorer/">IPS-X</a></p>
<ul class="nav navbar-nav collapse navbar-collapse">
<li class=""><a href="/ips-explorer/service/">Services</a></li>
<li class="active"><a href="/ips-explorer/project/">Projects</a></li>
<li class=""><a href="/ips-explorer/chart/">Statistics</a></li>
<li class=""><a href="/ips-explorer/catalog/">Sources</a></li>
</ul>
<ul class="nav navbar-nav collapse navbar-collapse navbar-right">
<li><a target="_blank" href="https://github.com/ipsoeu/ips-explorer/issues/" title="Send us your feedback."><i class="fa fa-comment"></i> Feedback</a></li>
<li><a target="_blank" href="https://github.com/ipsoeu/ips-explorer/" title="Report projects, services, initiatives you are aware of."><i class="fa fa-github"></i> Contribute</a></li>
<li><a target="_blank" href="https://ec.europa.eu/eusurvey/runner/isa2-ips-survey-review" title="Fill in the IPS survey."><i class="fa fa-edit"></i> IPS Survey</a></li>
</ul>
</div>
</nav>
<!--
    <header class="page-header">
      <div class="container">
      <h1 class="title">IPS-X</h1>
      <p class="lead">Innovative Public Services Explorer</p>
      </div>
    </header>
-->    
    <article class="container">
      <aside class="sidebar col-md-3">
        <div>
          <h4 class='col-md-6'>Projects (<span id="total_projects">0</span>)</h4>
        </div>
        <div>
          <label class="sr-only" for="searchbox">Search</label>
          <input type="text" class="form-control" id="searchbox" placeholder="Search &hellip;" autocomplete="off">
          <span class="glyphicon glyphicon-search search-icon"></span>
        </div>
        <br>
        <div id="facets" role="tablist" aria-multiselectable="true">
            <fieldset id="technology_criteria" class="panel panel-default">
            <div class="panel-heading" role="tab" id="technology_criteria_heading">
	    <legend role="button" class="panel-title" data-toggle="collapse" data-target="#technology_criteria_list" aria-expanded="true" aria-controls="technology_criteria_list">
              Technologies
            </legend>
	    </div>
            <div id="technology_criteria_list" class="panel-collapse collapse in" role="tabpanel" aria-labelled-by="technology_criteria_heading">
            <div class="panel-body">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="All" id="all_technology">
                    <span>All</span>
                  </label>
                </div>
            
            <div class="checkbox">
              <label>
                <input type="checkbox" value="Api">
                <span>Api<span>
              </label>
            </div>
            
            <div class="checkbox">
              <label>
                <input type="checkbox" value="Artificial intelligence">
                <span>Artificial intelligence<span>
              </label>
            </div>
            
            <div class="checkbox">
              <label>
                <input type="checkbox" value="Augmented reality / virtual reality">
                <span>Augmented reality / virtual reality<span>
              </label>
            </div>
            
            <div class="checkbox">
              <label>
                <input type="checkbox" value="Blockchain">
                <span>Blockchain<span>
              </label>
            </div>
            
            <div class="checkbox">
              <label>
                <input type="checkbox" value="Cloud-oriented cybersecurity">
                <span>Cloud-oriented cybersecurity<span>
              </label>
            </div>
            
            <div class="checkbox">
              <label>
                <input type="checkbox" value="Iot">
                <span>Iot<span>
              </label>
            </div>
            
            <div class="checkbox">
              <label>
                <input type="checkbox" value="Virtual reality">
                <span>Virtual reality<span>
              </label>
            </div>
            
            </div>
            </div>
            </fieldset>
<!--
        </div>
        <div class="well">
-->
            <fieldset id="geoextent_criteria" class="panel panel-default">
            <div class="panel-heading" role="tab" id="geoextent_criteria_heading">
	    <legend role="button" class="panel-title" data-toggle="collapse" data-target="#geoextent_criteria_list" aria-expanded="false" aria-controls="geoextent_criteria_list">
              Geographic extent
            </legend>
	    </div>
            <div id="geoextent_criteria_list" class="panel-collapse collapse" role="tabpanel" aria-labelled-by="geoextent_criteria_heading">
            <div class="panel-body">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="All" id="all_geoextent">
                    <span>All</span>
                  </label>
                </div>
            
            <div class="checkbox">
              <label>
                <input type="checkbox" value="International">
                <span>International<span>
              </label>
            </div>
            
            <div class="checkbox">
              <label>
                <input type="checkbox" value="Local">
                <span>Local<span>
              </label>
            </div>
            
            <div class="checkbox">
              <label>
                <input type="checkbox" value="National">
                <span>National<span>
              </label>
            </div>
            
            <div class="checkbox">
              <label>
                <input type="checkbox" value="Regional">
                <span>Regional<span>
              </label>
            </div>
            
            </div>
            </div>
            </fieldset>
<!--
        </div>
        <div class="well">
-->
            <fieldset id="primary_sector_criteria" class="panel panel-default">
            <div class="panel-heading" role="tab" id="primary_sector_criteria_heading">
	    <legend role="button" class="panel-title" data-toggle="collapse" data-target="#primary_sector_criteria_list" aria-expanded="false" aria-controls="primary_sector_criteria_list">
              Primary sector
            </legend>
	    </div>
            <div id="primary_sector_criteria_list" class="panel-collapse collapse" role="tabpanel" aria-labelled-by="primary_sector_criteria_heading">
            <div class="panel-body">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="All" id="all_primary_sector">
                    <span>All</span>
                  </label>
                </div>
            
            <div class="checkbox">
              <label>
                <input type="checkbox" value="Economic affairs">
                <span>Economic affairs<span>
              </label>
            </div>
            
            <div class="checkbox">
              <label>
                <input type="checkbox" value="Education">
                <span>Education<span>
              </label>
            </div>
            
            <div class="checkbox">
              <label>
                <input type="checkbox" value="Environmental protection">
                <span>Environmental protection<span>
              </label>
            </div>
            
            <div class="checkbox">
              <label>
                <input type="checkbox" value="Financial and fiscal affairs">
                <span>Financial and fiscal affairs<span>
              </label>
            </div>
            
            <div class="checkbox">
              <label>
                <input type="checkbox" value="General public services">
                <span>General public services<span>
              </label>
            </div>
            
            <div class="checkbox">
              <label>
                <input type="checkbox" value="Health">
                <span>Health<span>
              </label>
            </div>
            
            <div class="checkbox">
              <label>
                <input type="checkbox" value="Public order and safety">
                <span>Public order and safety<span>
              </label>
            </div>
            
            <div class="checkbox">
              <label>
                <input type="checkbox" value="Recreation culture and religion">
                <span>Recreation culture and religion<span>
              </label>
            </div>
            
            <div class="checkbox">
              <label>
                <input type="checkbox" value="Social protection">
                <span>Social protection<span>
              </label>
            </div>
            
            <div class="checkbox">
              <label>
                <input type="checkbox" value="Transport">
                <span>Transport<span>
              </label>
            </div>
            
            <div class="checkbox">
              <label>
                <input type="checkbox" value="Waste management">
                <span>Waste management<span>
              </label>
            </div>
            
            </div>
            </div>
            </fieldset>
<!--
        </div>
        <div class="well">
-->
            <fieldset id="secondary_sector_criteria" class="panel panel-default">
            <div class="panel-heading" role="tab" id="secondary_sector_criteria_heading">
	    <legend role="button" class="panel-title" data-toggle="collapse" data-target="#secondary_sector_criteria_list" aria-expanded="false" aria-controls="secondary_sector_criteria_list">
              Activity
            </legend>
	    </div>
            <div id="secondary_sector_criteria_list" class="panel-collapse collapse" role="tabpanel" aria-labelled-by="secondary_sector_criteria_heading">
            <div class="panel-body">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="All" id="all_secondary_sector">
                    <span>All</span>
                  </label>
                </div>
            
            <div class="checkbox">
              <label>
                <input type="checkbox" value="Certification">
                <span>Certification<span>
              </label>
            </div>
            
            <div class="checkbox">
              <label>
                <input type="checkbox" value="Control and monitoring">
                <span>Control and monitoring<span>
              </label>
            </div>
            
            <div class="checkbox">
              <label>
                <input type="checkbox" value="Data access">
                <span>Data access<span>
              </label>
            </div>
            
            <div class="checkbox">
              <label>
                <input type="checkbox" value="Immigration">
                <span>Immigration<span>
              </label>
            </div>
            
            <div class="checkbox">
              <label>
                <input type="checkbox" value="Inclusiveness">
                <span>Inclusiveness<span>
              </label>
            </div>
            
            <div class="checkbox">
              <label>
                <input type="checkbox" value="Information">
                <span>Information<span>
              </label>
            </div>
            
            <div class="checkbox">
              <label>
                <input type="checkbox" value="Procurement">
                <span>Procurement<span>
              </label>
            </div>
            
            <div class="checkbox">
              <label>
                <input type="checkbox" value="Service integration">
                <span>Service integration<span>
              </label>
            </div>
            
            <div class="checkbox">
              <label>
                <input type="checkbox" value="Service personlisation">
                <span>Service personlisation<span>
              </label>
            </div>
            
            <div class="checkbox">
              <label>
                <input type="checkbox" value="Sustainable growth">
                <span>Sustainable growth<span>
              </label>
            </div>
            
            <div class="checkbox">
              <label>
                <input type="checkbox" value="Waste management">
                <span>Waste management<span>
              </label>
            </div>
            
            </div>
            </div>
            </fieldset>
<!--
        </div>
        <div class="well">
-->
            <fieldset id="uptake_criteria" class="panel panel-default">
            <div class="panel-heading" role="tab" id="uptake_criteria_heading">
	    <legend role="button" class="panel-title" data-toggle="collapse" data-target="#uptake_criteria_list" aria-expanded="false" aria-controls="uptake_criteria_list">
              Uptake
            </legend>
	    </div>
            <div id="uptake_criteria_list" class="panel-collapse collapse" role="tabpanel" aria-labelled-by="uptake_criteria_heading">
            <div class="panel-body">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="All" id="all_uptake">
                    <span>All</span>
                  </label>
                </div>
            
            <div class="checkbox">
              <label>
                <input type="checkbox" value="Unknown">
                <span>Unknown<span>
              </label>
            </div>
            
            </div>
            </div>
            </fieldset>
<!--
        </div>
        <div class="well">
-->
            <fieldset id="cross_border_criteria" class="panel panel-default">
            <div class="panel-heading" role="tab" id="cross_border_criteria_heading">
	    <legend role="button" class="panel-title" data-toggle="collapse" data-target="#cross_border_criteria_list" aria-expanded="false" aria-controls="cross_border_criteria_list">
              Cross-border
            </legend>
	    </div>
            <div id="cross_border_criteria_list" class="panel-collapse collapse" role="tabpanel" aria-labelled-by="cross_border_criteria_heading">
            <div class="panel-body">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="All" id="all_cross_border">
                    <span>All</span>
                  </label>
                </div>
            
            <div class="checkbox">
              <label>
                <input type="checkbox" value="No">
                <span>No<span>
              </label>
            </div>
            
            <div class="checkbox">
              <label>
                <input type="checkbox" value="Unknown">
                <span>Unknown<span>
              </label>
            </div>
            
            <div class="checkbox">
              <label>
                <input type="checkbox" value="Yes">
                <span>Yes<span>
              </label>
            </div>
            
            </div>
            </div>
            </fieldset>
<!--
        </div>
        <div class="well">
-->
            <fieldset id="cross_sector_criteria" class="panel panel-default">
            <div class="panel-heading" role="tab" id="cross_sector_criteria_heading">
	    <legend role="button" class="panel-title" data-toggle="collapse" data-target="#cross_sector_criteria_list" aria-expanded="false" aria-controls="cross_sector_criteria_list">
              Cross-sector
            </legend>
	    </div>
            <div id="cross_sector_criteria_list" class="panel-collapse collapse" role="tabpanel" aria-labelled-by="cross_sector_criteria_heading">
            <div class="panel-body">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="All" id="all_cross_sector">
                    <span>All</span>
                  </label>
                </div>
            
            <div class="checkbox">
              <label>
                <input type="checkbox" value="No">
                <span>No<span>
              </label>
            </div>
            
            <div class="checkbox">
              <label>
                <input type="checkbox" value="Unknown">
                <span>Unknown<span>
              </label>
            </div>
            
            <div class="checkbox">
              <label>
                <input type="checkbox" value="Yes">
                <span>Yes<span>
              </label>
            </div>
            
            </div>
            </div>
            </fieldset>
<!--
        </div>
        <div class="well">
-->
            <fieldset id="type_criteria" class="panel panel-default">
            <div class="panel-heading" role="tab" id="type_criteria_heading">
	    <legend role="button" class="panel-title" data-toggle="collapse" data-target="#type_criteria_list" aria-expanded="false" aria-controls="type_criteria_list">
              Project Type
            </legend>
	    </div>
            <div id="type_criteria_list" class="panel-collapse collapse" role="tabpanel" aria-labelled-by="type_criteria_heading">
            <div class="panel-body">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="All" id="all_type">
                    <span>All</span>
                  </label>
                </div>
            
            <div class="checkbox">
              <label>
                <input type="checkbox" value="Auditing and logging">
                <span>Auditing and logging<span>
              </label>
            </div>
            
            <div class="checkbox">
              <label>
                <input type="checkbox" value="Chatbot">
                <span>Chatbot<span>
              </label>
            </div>
            
            <div class="checkbox">
              <label>
                <input type="checkbox" value="Co-designed services">
                <span>Co-designed services<span>
              </label>
            </div>
            
            <div class="checkbox">
              <label>
                <input type="checkbox" value="Data access and reuse">
                <span>Data access and reuse<span>
              </label>
            </div>
            
            <div class="checkbox">
              <label>
                <input type="checkbox" value="Digital identity">
                <span>Digital identity<span>
              </label>
            </div>
            
            <div class="checkbox">
              <label>
                <input type="checkbox" value="Personalised healthcare">
                <span>Personalised healthcare<span>
              </label>
            </div>
            
            <div class="checkbox">
              <label>
                <input type="checkbox" value="Process automation">
                <span>Process automation<span>
              </label>
            </div>
            
            <div class="checkbox">
              <label>
                <input type="checkbox" value="Process digitisation">
                <span>Process digitisation<span>
              </label>
            </div>
            
            <div class="checkbox">
              <label>
                <input type="checkbox" value="Self-sovereing - digital identity">
                <span>Self-sovereing - digital identity<span>
              </label>
            </div>
            
            <div class="checkbox">
              <label>
                <input type="checkbox" value="Service integration">
                <span>Service integration<span>
              </label>
            </div>
            
            <div class="checkbox">
              <label>
                <input type="checkbox" value="Skill assessment">
                <span>Skill assessment<span>
              </label>
            </div>
            
            <div class="checkbox">
              <label>
                <input type="checkbox" value="Smart city">
                <span>Smart city<span>
              </label>
            </div>
            
            </div>
            </div>
            </fieldset>
<!--
        </div>
        <div class="well">
-->
            <fieldset id="status_criteria" class="panel panel-default">
            <div class="panel-heading" role="tab" id="status_criteria_heading">
	    <legend role="button" class="panel-title" data-toggle="collapse" data-target="#status_criteria_list" aria-expanded="false" aria-controls="status_criteria_list">
              Status
            </legend>
	    </div>
            <div id="status_criteria_list" class="panel-collapse collapse" role="tabpanel" aria-labelled-by="type_criteria_heading">
            <div class="panel-body">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="All" id="all_status">
                    <span>All</span>
                  </label>
                </div>
            
            <div class="checkbox">
              <label>
                <input type="checkbox" value="In production">
                <span>In production<span>
              </label>
            </div>
            
            <div class="checkbox">
              <label>
                <input type="checkbox" value="Pilot">
                <span>Pilot<span>
              </label>
            </div>
            
            </div>
            </div>
            </fieldset>
<!--
        </div>
        <div class="well">
-->
            <fieldset id="active_criteria" class="panel panel-default">
            <div class="panel-heading" role="tab" id="active_criteria_heading">
	    <legend role="button" class="panel-title" data-toggle="collapse" data-target="#active_criteria_list" aria-expanded="false" aria-controls="active_criteria_list">
              Active
            </legend>
	    </div>
            <div id="active_criteria_list" class="panel-collapse collapse" role="tabpanel" aria-labelled-by="type_criteria_heading">
            <div class="panel-body">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="All" id="all_active">
                    <span>All</span>
                  </label>
                </div>
            
            <div class="checkbox">
              <label>
                <input type="checkbox" value="No">
                <span>No<span>
              </label>
            </div>
            
            <div class="checkbox">
              <label>
                <input type="checkbox" value="Yes">
                <span>Yes<span>
              </label>
            </div>
            
            </fieldset>
        </div>
    </aside>

<!-- /.col-md-3 -->
    <section class="col-md-9">
      <div class="row">
        <div class="content col-md-12">
          <div id="search-map" class="projects row col-md-12" style="height:300px;"></div>        
          <div id="pagination" class="pagination col-md-9"></div>
          <div class="col-md-3 content">
            Per Page: <span id="per_page" class="content"></span>
          </div>
        </div>
      </div>

      <div class="projects row col-md-12" id="projects"> </div>
      
    </section>
<!-- /.col-md-9 -->
</article>
<footer>
<p></p></footer>
<!-- /.container -->
      <script id="project-template" type="text/html">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4><a href="./<%= id %>.html"><%= name %></a></h4>
          </div>
          <div class="panel-body">
            <p><%= description %></p>
          </div>
          <div class="panel-footer">
            <p><%= lead_organisation_name %>, <%= geocoverage %></p>
<!--          
            <p>
              <span class="icon icon-ca" title="Technology">IT</span> <%= technology %> 
              <span class="icon icon-ed" title="Primary sector">PS</span> <%= primary_sector %> 
              <span class="icon icon-ef" title="Activity">AC</span> <%= secondary_sector %> 
              <span class="icon icon-su" title="Uptake">UP</span> <%= uptake %>
              <span class="icon icon-pr" title="Type">TY</span> <%= type %> 
              <span class="icon icon-pu" title="Cross-sector">CS</span> <%= cross_sector %> 
            </p>
-->              
          </div>
        </div>
      </div>
      </script>
<!--      
      <script id="geoextent-template" type="text/html">
        <div class="checkbox">
          <label>
            <input type="checkbox" value="<%= geoextent %>"> <%= geoextent %>
          </label>
        </div>
      </script>
-->      
    </body>
  </html>
